/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    /* background-color: #d8dad6; */
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    font-family: 'Roboto', sans-serif;
}

.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 950px;
}

.app{
    width: 80%;
    height: 95vh;
    display: flex;
}

@media (max-width: 1200px) {
    .app{
        width: 100%;
    }
}

.d-none{
    display: none;
}

/* Column */
.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}
/* Icons */
.icon{
    margin: 7px;
    font-size: 20px;
    cursor: pointer;
}

/* APP */
.chat-page{
    border-left: 1px solid #d6d6d6;
}

/* Section header */
.section-header{
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    font-size: 16px;
    z-index: 10;
}
.section-header .icon {
    color: #b1b1b1;
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

/* Notification Banner */
.notification-banner{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: #8edafb;
}

.notification-banner span.bell-slash-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    color: #8edafb;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background-color: white;
}

.notification-banner-text{
    display: flex;
    flex-direction: column;
}

.notification-banner-text a{
    font-size: 16px;
}

.notification-banner-text a{
    font-size: 12px;
    color: #507686;
}

/* Contact Finder */
.contact-finder{
    position: relative;
}

.contact-finder input{
    width: 100%;
    height: 40px;
    padding: 0 20px 0 70px;
    border: 6px solid #fafafa;
}

.contact-finder input:focus{
    outline: none;
}

.contact-finder span.search-icon{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #babdbf;
}

/* Contact Container */
.contact-container{
    width: 100%;
    height: calc( 95vh - 190px );
    background-color: white;
    overflow: auto;
}

.contact-container li.contact{
    padding: 15px 20px;
    display: flex;
    border-top: 1px solid #f5f3f3;
    font-size: 16px;
    position: relative;
}

.contact-container li.contact.selected-contact{
    background-color: #ebebeb;
}

.contact-container li.contact:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}

.contact-container li.contact img{
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.contact-preview{
    display: flex;
    flex-direction: column;
}

.last-message{
    color: #b6b9bc;
    font-size: 14px;
}

.last-time{
    position: absolute;
    top: 15px;
    right: 20px;
    color: #b6b9bc;
    font-size: 10px;
}

/* Section Header - Chat Container */
.contact-info{
    display: flex;
    flex-direction: column;
}

.chat-contact-name{
    margin-bottom: 3px;
    cursor: pointer;
}

.chat-last-access{
    font-size: 12px;
    color: #6b7477;
}

/* Chat Container */
.chat-container{
    width: 100%;
    height: calc( 100% - 140px );
    padding: 50px 100px 0px 100px;
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

.message-container{
    position: relative;
    display: inline-block;
    max-width: 48%;
    min-width: 38%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.message{
    position: relative;
    border-radius: 10px;
    padding: 12px 12px 18px;
}

.sent{
    float: right;
    clear: both;
    background-color: #d5f9ba;

}

.received{
    float: left;
    clear: both;
    background-color: white;

}

.message-text{
    padding-right: 20px;
    font-size: 16px;
}

.message-info{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    color: #bec0c3;
}

.arrow-down-icon{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #bec0c3;
    cursor: pointer;
    display: none;
}

.message-container:hover .arrow-down-icon{
    display: inline-block;
}

.message-option{
    position: absolute;
    top: 32px;
    right: 12px;
    padding: 22px;
    min-width: 150px;
    list-style: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #ababab;
    z-index: 3;
}

.message-option li{
    font-size: 16px;
    margin-bottom: 20px;
    color: #6b7477;
    cursor: pointer;
}

.message-option li:hover{
    color: #b4b3b3;
}

.message-option li:last-child{
    margin-bottom: 0;
}

/* Writing Area */
.writing-container{
    width: 100%;
    height: 70px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.writing-container .icon{
    margin: 0 30px;
    font-size: 25px;
    color: #6a7376;
}

.writing-container input[type='text']{
    width: 100%;
    height: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.writing-container input[type='text']:focus{
    outline: none;
}